@font-face {
  font-family: Inter;
  src: url("../../public/fonts/Inter/static/Inter_18pt-Thin.ttf");
  font-size: 18pt;
  font-weight: lighter;
}

@font-face {
  font-family: Inter;
  src: url("../../public/fonts/Inter/static/Inter_18pt-Regular");
  font-size: 18pt;
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("../../public/fonts/Inter/static/Inter_18pt-SemiBold.ttf");
  font-size: 18pt;
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url("../../public/fonts/Inter/static/Inter_18pt-Bold.ttf");
  font-size: 18pt;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
}

main {
  margin-top: 70px;
  margin-left: 15px;
}
